.about{
    background-image: url('../img/about-fon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 30rem;
    padding: 2.5rem 0 4.5rem;

    &__inner{
        max-width: 54.5rem;
    }
    
    &__title{
        padding: 1rem 0 2.5rem;
        font-size: 2.4rem;
        color: $color-white;
        line-height: 2.4rem;
        margin-bottom: 2rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin: 0;
    }
    &__text{
        margin: 0;
        margin-bottom: 3rem;
        letter-spacing: 0.1px;
        line-height: 2.4rem;
        color: $color-grey-light-2;
    }
    .default-btn::after{
        color: $color-black;
    }
}