.form {  
    padding-top: 3rem;
    @include respond(max-900){
        padding-bottom: 2.5rem;
    }
    &__title-box {
        @extend .services__title-box;
        &::before {
            @extend .services__title-box::before;
        }
    }
    &__title {
        @extend .services__title;
    }
    &__text {
        @extend .services__text;
    }
    
    &__inner{
        padding-bottom: 4rem;
        background-image: url('../img//form-fon.png');
        min-height: 46rem;
        background-repeat: no-repeat;
        background-position: bottom right;
        
        @include respond(max-1156){
            background-image: none;
        }
    }
    
    &__box{
        max-width: 85rem;
        padding-top: 4.5rem;
    }
    &__box-inner{
        display: flex;
        justify-content: space-between;    
        @include respond(max-900){
            display: block;
        }
           
        label,
        input,
        textarea{
            display: block;
            width: 100%;        
        }
        label{
            color: $color-form-label;
            line-height: 3.6rem;
            font-family: 'Roboto', sans-serif;
        }
        input{
            margin-bottom: 0.8rem;
            outline: none;
            height: 4rem;
            border: 1px solid $color-form-input;
            padding: 0 1rem;
        }
        .jq-selectbox.jqselect{
            display: block;
            width: 100%;
        }
        .jq-selectbox__select{
            height: 4rem;
            border: 1px solid $color-form-input;
            padding-left: 1.7rem;
            background: transparent;
            border-radius: 0;
            @include respond(max-900){
                margin-bottom: 1rem;
            }
        }
        .jq-selectbox__trigger-arrow::before{
            content: "\f105";
            font-family: 'icomoon';
            display: block;
            position: absolute;
            top: 0;
            right: 1.7rem;
            transform: rotate(90deg);
        }
        .jq-selectbox__dropdown {
            width: 100%;
            margin: 2px 0 0;
            padding: 0;
            border: 1px solid $color-form-input;
            background: #FFF;
            box-shadow: 0 2px 10px rgba(0,0,0,.2);
        }
        .jq-selectbox li {
            min-height: 18px;
            padding: 5px 10px 6px;
            color: #231F20;
        }
        .jq-selectbox li.selected {
            background-color: #A3ABB1;
            color: #FFF;
        }
        .jq-selectbox li:hover {
            background-color: #08C;
            color: #FFF;
        }
        .jq-selectbox li.disabled {
            color: #AAA;
        }
        .jq-selectbox li.disabled:hover {
            background: none;
        }
        .jq-selectbox li.optgroup {
            font-weight: bold;
        }
        .jq-selectbox li.optgroup:hover {
            background: none;
            color: #231F20;
            cursor: default;
        }
        .jq-selectbox li.option {
            padding-left: 25px;
        }
        textarea{
            outline: none;
            resize: none;
            border: 1px solid $color-form-input;
            padding: 1rem;
            height: 20.8rem;
            margin-bottom: 4.2rem;
        }
        select{
            outline: none;
            padding-left: 1.7rem;
        }
        button{
            background-color: transparent;
            color: $color-form-label;
            cursor: pointer;
            float: right;
            @include respond(max-900){
                margin-bottom: 2rem;
            }
        }
        
    }
    &__box-left{
        max-width: 26rem;
        width: 100%;
        
        @include respond(max-900){
            max-width: 100%;
        }
    }
    &__box-right{
        max-width: 55.5rem;
        width: 100%;
        @include respond(max-900){
            max-width: 100%;
        }
    }
}