.news {
    padding: 5.5rem 0 11rem;
    background-color: $color-item-box-bg;
    
    @include respond(max-540) {
        padding-bottom: 6rem;
    }
    
    &__top {
        @extend .services__top;
    }

    &__title-box {
        @extend .services__title-box;

        &::before {
            @extend .services__title-box::before;
        }
    }

    &__title {
        @extend .services__title;
    }

    &__text {
        @extend .services__text;
    }

    &__btn {
        @extend .services__btn;
    }

    &__slider {
        background-color: $color-white;
        box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
        padding: 6rem 3.5rem 4.5rem 7rem;
        position: relative;

        @include respond(max-540) {
            padding: 5rem 1.5rem 2.5rem 2.5rem;
        }

        &::before {
            content: "\f10e";
            font-family: 'icomoon';
            position: absolute;
            top: 0;
            left: 7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3rem;
            width: 6.5rem;
            background-color: $color-yellow;
            font-size: 1.6rem;
            color: $color-white;

            @include respond(max-540) {
                left: 2.5rem;
            }
        }
    }

    &__slider-inner {
        position: relative;

        .slick-btn {
            position: absolute;
            top: auto;
            bottom: -11rem;
            border-color: #dadada;

            @include respond(max-540) {
                bottom: -9rem;
            }
        }

        .slick-prev {
            right: 2rem;
            left: auto;

            @include respond(max-540) {
                right: 3.5rem;
            }
        }

        .slick-next {
            right: -3.5rem;

            @include respond(max-540) {
                right: -2rem;
            }
        }

        .slick-btn.slick-disabled {
            color: #dadada;
        }
    }

    &__slider-item {
        outline: none;
    }

    &__slider-title {
        margin: 0;
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: $color-black-dark-2;
        letter-spacing: 0.5px;
        margin-bottom: 1.5rem;
    }

    &__slider-text {
        margin: 0;
        margin-bottom: 3rem;
    }

    &__slider-author {
        margin: 0;
        letter-spacing: 0.1px;
        color: $color-black-dark-2;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
    }

    &__images {
        position: relative;

        @include respond(max-1156) {
            float: left;
            margin-right: 5rem;
        }

        @include respond(max-540) {
            float: none;
        }
    }

    &__date {
        position: absolute;
        top: -1px;
        left: 1rem;
        height: 5.5rem;
        width: 5rem;
        background-color: $color-yellow;
        color: $color-white;
        text-align: center;
        padding-top: 3rem;
        font-weight: 700;
    }

    &__blog-title {
        margin: 0;
        font-size: 1.6rem;
        line-height: 1.8rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: $color-black-dark-2;
        letter-spacing: 0.5px;
        padding: 1.2rem 0;
    }

    &__blog-text {
        margin: 0;
        color: $color-grey-dark;
        letter-spacing: 0.1px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @include respond(max-1156) {
            display: block;
        }
    }

    &__slider {
        max-width: 55.5rem;
        width: 100%;

        @include respond(max-1156) {
            max-width: 100%;
            margin-bottom: 9rem;
        }
    }

    &__blog {
        max-width: 26rem;
        width: 100%;

        &::after {

            @include respond(max-1156) {
                content: "";
                clear: both;
                display: block;
            }
        }

        @include respond(max-1156) {
            max-width: 100%;
            display: block;
            margin-bottom: 3rem;
        }
    }
}