.header {
    font-family: 'Roboto', sans-serif;

    &__top {
        background-color: $color-black-light;
    }

    &__btn {
        float: right;
        line-height: 3.6rem;
        color: $color-black-dark;
        background-color: $color-yellow;
        font-size: 1.6rem;
        padding: 0.5rem 2rem 0.4rem 5rem;
        position: relative;

        &::before {
            content: "\f0b1";
            font-family: 'icomoon';
            position: absolute;
            left: 2.2rem;
            color: $color-black-dark;

            @include respond(max-400) {
                display: block !important;
            }

            @include respond(max-700) {
                display: none !important;
            }
        }

        @include respond(max-700) {
            float: none !important;
            width: 100%;
        }
    }

    &__contacts {
        &::after {
            content: "";
            clear: both;
            display: block;
        }

        @include respond(max-700) {
            text-align: center;
        }

    }

    &__phone,
    &__email {
        color: $color-grey-light;
        letter-spacing: 0.25px;
        line-height: 4.5rem;
        position: relative;
    }

    &__phone {
        padding: 0 3rem 0 2rem;

        &::before {
            content: "\f095";
            font-family: 'icomoon';
            position: absolute;
            left: 0;
            color: $color-yellow;
        }
    }

    &__email {
        padding-left: 2.4rem;

        @include respond(max-375) {
            padding-right: 30px;
        }

        &::before {
            content: "\f003";
            font-family: 'icomoon';
            position: absolute;
            left: 0;
            color: $color-yellow;
        }
    }

    &__content {
        padding: 3.4rem 0 2.3rem;
    }

    &__content-inner {
        display: flex;
        justify-content: space-between;
    }

    &__btn-menu {
        display: none;
        font-size: 2.8rem;
        cursor: pointer;
        color: $color-yellow;

        @include respond(max-700) {
            display: block;
        }
    }
}

.menu {
    ul {

        @include respond(max-700) {
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            margin-top: 2rem;
            z-index: 50;
        }
        @include respond(min-700) {
            display: block !important;
        }

        li {
            display: inline-block;

            @include respond(max-700) {
                display: block;
                text-align: center;
            }

            a {
                font-size: 1.6rem;
                color: $color-black-light-2;
                line-height: 3.6rem;
                border: 1px solid transparent;
                padding: 0 1.6rem;
                transition: all .5s;

                &:hover {
                    border-color: $color-yellow;
                    @include respond(max-700) {
                        background-color: $color-black-light;
                        color: $color-white;
                    }
                }
                @include respond(max-700) {
                    display: block;
                    background-color: $color-yellow;
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }


}

.menu li+li {
    padding-left: 1rem;
    
    @include respond(max-700) {
        padding-left: 0;
    }
}