.footer{
    &__content{
        background-color: #595959;
        padding: 2rem 0 3rem;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        
        @include respond(max-1050) {
            display: block;
        }
        
        .header__btn{
            float: none;
            display: inline-block;
        }
    }
    &__info{
        max-width: 36rem;
        
        @include respond(max-1050) {
            max-width: 46.5rem;
        }
        
        &__btn-menu::before{
            @include respond(max-700) {
                display: block;
            }
        }
        
    }
    &__title{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 1.6rem;
        color: $color-white;
        margin: 0;
        line-height: 3.6rem;
        letter-spacing: 0.5px;
    }
    &__text{
        margin: 0;
        color: $color-grey-light-2;
        margin-bottom: 2rem;
    }
    &__list{
        padding-top: 1rem;
        
        @include respond(max-1050) {
           margin-bottom: 2.5rem;
        }
        
        li{
            margin-top: 1rem;  
            .footer__phone{
                &::before{
                    content: "\f095";
                    font-family: 'icomoon';
                    left: 3px;
                }
            }
            .footer__address{
                &::before{
                    content: "\f041";
                    font-family: 'icomoon';
                    left: 3px;
                }
            }    
            a{
                font-size: 1.6rem;
                line-height: 2.4rem;
                letter-spacing: 0.25px;
                color: $color-white;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                padding-left: 3.3rem;
                position: relative;
                
                &::before{
                    content: "\f003";
                    font-family: 'icomoon';
                    position: absolute;
                    left: 0;
                    color: $color-yellow;
                    font-size: 1.6rem;
                    display: block;
                }
            }
        }
    }
    &__map{
        padding-top: 1rem;
        max-width: 63rem;
        width: 100%;
        
        @include respond(max-1050) {
            max-width: 100%;
        }
        
        iframe{
            width: 100%;
        }
    }
    &__copy{
        background-color: $color-black-light;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        line-height: 2.4rem;
        font-size: 1.2rem;
        color: $color-white;
        padding: 0.8rem 0;
    }
}