#modal{
    display: none;
    width: 30rem;
    input{
        display: block;
        width: 100%;
        outline: none;
        margin-bottom: 2rem;
        height: 4rem;
        border: 1px solid $color-form-input;
        font-family: 'Roboto', sans-serif;
        padding-left: 1rem;
        font-weight: 400;
        &[type="submit"]{
            background-color: $color-yellow;
            border: none;
        }
    }
}