*{
    box-sizing: border-box;
} 
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.container{
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
body{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    line-height: 18px;
    color: $color-grey-dark;
    font-size: 1.4rem;
    overflow-x: hidden;
}
.default-btn{
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: $color-white;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;   
    padding: 0.8rem 3rem 0.8rem 2.4rem;
    border: 1px solid $color-yellow;
    display: inline-block;
    border-right-width: 2rem;
    position: relative;
    z-index: 2;
    
    &::after{
        content: "\f105";
        font-family: 'icomoon';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -1.2rem;
    }
    &:focus{
        outline: none;
    }
}
 
.to-top{
    position: fixed;
    bottom: 5%;
    right: 2%;
    width: 3.5rem;
    height: 3.5rem;
    background-color: $color-yellow;
    cursor: pointer;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    
    .icon-angle-right{
        font-size: 2rem;
        color: $color-white;
        transform: rotate(-90deg);
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 1rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    align-items: center;
}

::-webkit-scrollbar{
    width: 4px !important;
}

::-webkit-scrollbar-thumb{
    background-color: $color-yellow;
    border-radius: 50px !important;
}