$color-black-light: #303030;
$color-black-light-2: #323232;
$color-black-dark: #1b1b1b;
$color-black-dark-2: #212020;
$color-yellow: #ffc222;
$color-grey-dark: #5e5e5e;
$color-grey-dark-2: #373636;
$color-grey-light: #cbcacb;
$color-white: #fff;
$color-black: #000;
$color-grey-light-2: #d3d2d2;
$color-item-box-bg: #f9f9f9;
$color-form-label: #282828;
$color-form-input: #e6e6e6;
